<nav id="bottom-navbar">
  <ul>
    <li><i class="fa-solid fa-baby" alt="View Babies"></i></li>
    <li><i class="fa-solid fa-chart-column" alt="View Statistics"></i></li>
    <li><i class="fa-solid fa-trophy" alt="View All Statistics"></i></li>
    <li><i class="fa-solid fa-bars" alt="More Options"></i></li>
  </ul>
</nav>

</body>
</html>