  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>

  <div id="bottom-navbar-container">
    <div class="logo">
      <i class="fas fa-baby"></i>
    </div>
    <input type="checkbox" class="toggle" id="nav-toggle">
    <label for="nav-toggle" id="nav-toggle-label">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
    <nav>
      <ul>
        <li><a href=#><i class="fas fa-baby" alt="View Babies"></i>View Babies</a></li>
        <li><a href=#><i class="fas fa-chart-column" alt="View Statistics"></i>View Statistics</a></li>
        <li><a href=#><i class="fas fa-trophy" alt="View All Statistics"></i>All Statistics</a></li>
      </ul>
    </nav>
  </div>
  
  <header>
    <nav>
      <% if (user) { %>
        <a href="/auth/logout">
          <button type="submit">Logout</button>
        </a>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      <% } %>
    </nav>
  </header>
  