<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main id="welcome-section">
  <h1 id="brand-name">Dookie Data</h1>
    Whether  you're the kind of parent who gives a crap or wants to record your child's every bowel movement, this is the place for you!
    When you want to be knee deep in baby data.
    Every milk you take, every poop you make, I'll be tracking you.
    Hello diapers my old friend, I've come to input you again.
    I was made for tracking your babies, you were made for tracking poop.
    For all kinds of diapers, even ones that hit the fan.
  </p>
  
</main>

<%- include('./partials/footer') %>
