:root {
  --light-bg-color: rgba(240, 240, 240, 0.7);
  --light-fg-color: rgba(0, 0, 0, 0.7);
  --fg-color: var(--light-fg-color);
  --bg-color: var(--light-bg-color);
  --text-size: 2.5rem;
  --highlight-primary: #00ccff;
  --gradient: 
    linear-gradient(300deg, #44ea7b, rgba(186, 74, 255, 0) 100%), 
    linear-gradient(227deg, #008aff, rgba(0, 138, 255, 0) 100%),
    linear-gradient(104deg, #00ffc6, rgba(0, 255, 198, 0) 100%);

  --nav-height: 3rem;

  --transition: 250ms ease-out;  
  --transition-long: 500ms ease-out; 
}

html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 200;

  background: var(--bg-color);
  color: var(--fg-color);
}

#welcome-section {
  position: relative;
  width: clamp(85vw, 60vw, 50vw);
  max-width: 970px;
  margin: 0 auto;
}

#brand-name {
  margin: 1rem;
  font-size: 9rem;
  font-family: 'Gugi', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

nav .navbar {
  background-color: var(--bg-color);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}


main, section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--text-size);
}

h1 {
  font-size: 3.6rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 10px;
  max-width: 120px;
  align-items: flex-start;
}

form>label {
  display: flex;
}

.baby-list {
  list-style: none;
}

.baby-list > li > a {
  text-decoration: none;
  color: var(--fg-color);
  font-weight: 600;
}

section {
  margin: 0 0 2rem 0;
}

.unfinished-item {
  background-color: rgba(255, 52, 52, 0.5);
}

.fa-solid {
  margin: 0.25rem 0.5rem 0.25rem 0.25rem;
}

#quick-add-section, .quick-add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quick-add-container > button {
  margin: 0.45rem;
  font-size: var(--text-size);
  background-color: rgba(200, 200, 200, .4);
  border: 2px solid black;
  color: black;
  border-radius: 10px;
}

.btn-modal-secondary {
  font-size: inherit;
}


/* Created with
  https://blog.koalite.com/bbg/ */

.btn-modal-primary { 
  font-size: inherit;
  color: #000000; 
  background-color: #57BFFF; 
  border-color: #000000; 
} 
  
.btn-modal-primary:hover, 
.btn-modal-primary:focus, 
.btn-modal-primary:active, 
.btn-modal-primary.active, 
.open .dropdown-toggle.btn-modal-primary { 
  color: #000000; 
  background-color: #4bace9; 
  border-color: #000000; 
} 
  
.btn-modal-primary:active, 
.btn-modal-primary.active, 
.open .dropdown-toggle.btn-modal-primary { 
  background-image: none; 
} 
  
.btn-modal-primary.disabled, 
.btn-modal-primary[disabled], 
fieldset[disabled] .btn-modal-primary, 
.btn-modal-primary.disabled:hover, 
.btn-modal-primary[disabled]:hover, 
fieldset[disabled] .btn-modal-primary:hover, 
.btn-modal-primary.disabled:focus, 
.btn-modal-primary[disabled]:focus, 
fieldset[disabled] .btn-modal-primary:focus, 
.btn-modal-primary.disabled:active, 
.btn-modal-primary[disabled]:active, 
fieldset[disabled] .btn-modal-primary:active, 
.btn-modal-primary.disabled.active, 
.btn-modal-primary[disabled].active, 
fieldset[disabled] .btn-modal-primary.active { 
  background-color: #57BFFF; 
  border-color: #000000; 
} 
  
.btn-modal-primary .badge { 
  color: #57BFFF; 
  background-color: #000000; 
}

.modal-form {
  align-items: flex-start;
}