:root {
  --light-bg-color: rgba(240, 240, 240, 0.7);
  --light-fg-color: rgba(0, 0, 0, 0.7);
  --fg-color: var(--light-fg-color);
  --bg-color: var(--light-bg-color);
  --highlight-primary: #00ccff;
  --gradient: 
    linear-gradient(300deg, #44ea7b, rgba(186, 74, 255, 0) 100%), 
    linear-gradient(227deg, #008aff, rgba(0, 138, 255, 0) 100%),
    linear-gradient(104deg, #00ffc6, rgba(0, 255, 198, 0) 100%);

  --nav-height: 3rem;

  --transition: 250ms ease-out;  
  --transition-long: 500ms ease-out; 
}

html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 200;

  background: var(--bg-color);
  color: var(--fg-color);
}

nav {
  background-color: var(--bg-color);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

main, section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 10px;
  max-width: 120px;
}

form>label {
  display: flex;
}

.baby-list {
  list-style: none;
}

.baby-list > li > a {
  text-decoration: none;
  color: var(--fg-color);
  font-weight: 600;
}

section {
  margin: 0 0 2rem 0;
}

.unfinished-item {
  background-color: rgba(255, 52, 52, 0.5);
}